[Unit]
Description=Auto Shutdown Server
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/auto-shutdown-server

[Install]
WantedBy=multi-user.target